---
import App from '../components/App.jsx';
import '/src/styles/styles.css'; // Adjust this path if your CSS is in a different folder
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <title>Khan-Fernandez</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>